  <meta charset="UTF-8">
  <title><%= meta.title || labels.meta_title %></title>
  <meta name="description" content="<%= meta.description || labels.meta_description %>">
  <meta name="keywords" content="<%= meta.keywords || labels.meta_keywords %>">
  <meta property="og:title" content="<%= meta.title || labels.meta_title %>" >
  <meta property="og:type" content="product" />
  <meta property="og:description" content="<%= meta.description || labels.meta_description %>" />
  <meta property="og:url" content="<%= meta.url || 'https://hashdish.com/' %>" />
  <meta property="og:image" content="<%= meta.image || 'https://hashdish.com/img/logo_black.png' %>" />
  <meta property="og:site_name" content="labels.meta_title" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@hashdish_tokyo" />
  <!-- <link rel="shortcut icon" href="./favicon.ico" /> -->
  <!--link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'-->

  <link rel="stylesheet" href="/css/app.css" />