  <meta charset="UTF-8">
  <title><%= meta.title %></title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="<%= meta.description %>">
  <meta name="keywords" content="<%= meta.keywords %>">
  <meta property="og:title" content="<%= meta.title %>" >
  <meta property="og:type" content="product" />
  <meta property="og:description" content="<%= meta.description %>" />
  <meta property="og:url" content="<%= meta.url %>" />
  <meta property="og:image" content="<%= meta.image %>" />
  <meta property="og:site_name" content="HashDish" />
  <meta property="fb:app_id" content="<%= api.fbKey %>" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@hashdish_tokyo" />
  <meta name="apple-itunes-app" content="app-id=${app_id}">
  <link rel="shortcut icon" href="/favicon.ico" />
  <!--link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'-->
  <link rel="stylesheet" href="/css/app.css" />